<html>
    <body>

        <h2>Add Head of State</h2>

        <form action="/AddHeadOfState" method = "POST"> <!--need to change-->
        
        <!-- Country Code text box -->
        <label>Country Code: </label> <br>
        <input type="text" name="_id"> <br>

        <!-- Head of State text box -->
        <label>Head of State: </label> <br>
        <input type="text" name="headOfState"> <br><br>

        <!-- submit button -->
        <input type="submit" value="Submit">
        </form>

        <!-- home button -->
        <form action="http://localhost:3000/">
            <input type="submit" value="Home" />
        </form>

    </body>
</html>